/* ---- reset ---- */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

.clearfix {
  clear: both;
}

/* ---- tipografía ---- */
body {
  font: 400 15px/26px 'Open Sans', sans-serif;
}

h1 {
  font-size: 30px;
  line-height: 38px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 200;
  margin: 0 auto;
  display: block;
}

h2 {
  font-size: 14px;
  line-height: 26px;
  font-weight: 800;
  letter-spacing: 1px;
  text-align: center;
}

h3 {
  font: 28px/36px 'Reenie Beanie', cursive;
  letter-spacing: 1.7px;
  color: #937f81;
  text-align: center;
  margin: 0 auto;
  padding-top: 20px;
}

h4 {
  margin-bottom: 15px;
  padding-top: 0px;
  font-size: 16px;
  line-height: 26px;
  font-weight: 700;
  letter-spacing: 1px;
}

p {
  margin: 0;
  padding: 0;
}

.white-text {
  color: white;
}

/* ---- layout ---- */

.container {
  margin: 0 40px;
}

.hidden {
  display: none;
}

@media (min-width: 768px) {
  header.header {
    height: 140px;
    justify-content: center;
  }

  div.header-box {
    min-width: 750px;
    justify-content: space-between;
  }

  .container {
    min-width: 728px;
  }

  div.title {
    height: 140px;
    width: 172px;
  }

  .input-student input{
    min-width: 380px;
  }

  div.width-box {
    width: 750px;
  }

  div.my-container {
    width: 364px;
  }

  article.card {
    width: 200px;
  }
}

@media (min-width: 478px) and (max-width:768px) {
  .container {
    max-width: 728px;
  }
  
  header.header {
    height: 275px;
    flex-direction: column;
    align-items: center;
  }

  div.header-box {
    flex-direction: column;
    align-items: center;
  }

  div.title {
    height: 140px;
    width: 420px;
  }

  .input-student input{
    width: 420px;
  }

  div.width-box {
    width: 420px;
  }

  div.my-container {
    width: 420px;
  }

  article.card {
    width: 200px;
  }
}

@media (max-width: 478px) {
  .container {
    max-width: 428px;
  }

  header.header {
    height: 275px;
    flex-direction: column;
    align-items: center;
  }

  div.header-box {
    flex-direction: column;
    align-items: center;
  }

  div.title {
    height: 140px;
    width: 270px;
  }

  .input-student input{
    width: 270px;
  }

  div.width-box {
    width: 270px;
  }

  div.my-container {
    width: 270px;
  }

  article.card {
    width: 270px;
  }
}

/* ---- components ---- */
.button {
  background-color: rgba(90, 77, 79, 0.2);
  border: 2px solid #937F81;
  color: #937F81;
  font-size: 14px;
  padding: 10px 15px;
  width: 150px;
  text-transform: uppercase;
  text-shadow: 0 0 10px #3a3132;
  box-shadow: 0 0 10px #3a3132;
  margin: 25px auto;
}

.first-button {
  padding: 10px 15px;
  border: 2px solid #937F81;
  text-align: center;
  width: 150px;
  color: #3a3132;
  font-weight: 600;
}

.second-button {
  padding: 10px 15px;
  border: 2px solid #937F81;
  text-align: center;
  width: 150px;
  color: #3a3132;
  font-weight: 600;
}

button.push-button {
  background-color: #5A4D4F;
  box-shadow: none;
}

/* ---- search components ---- */
.search {
  text-align: center;
  margin-top: 50px;
}

.input-student {
  position: relative;
}

.input-student input{
  padding: 5px;
  font-size: 18px;
}

.input-student .search-results {
  position: absolute;
  text-align: center;
  left: 0;
  right: 0;
  background-color: white;
  box-shadow: 2px 2px 10px #3a3132;
}

.input-student .search-results ul {
  list-style-type: none;
  padding-left: 10px;
  text-align: left;
}

.input-student .search-results a {
  color: black;
  text-decoration: none;
}

/* ---- header ---- */
header.header {
  background-color: #937F81;
  display: flex;
}

div.header-box {
  display: flex;
}

div.title {
  background-color: #5A4D4F;
  display: flex;
  flex-direction: column;
  align-items: center;
}

p.title-text {
  color: #937F81;
  display: inline;
  margin: 0 20px;
}

p.title-text {
  padding-top: 35px;
}

img.signature {
  width: 140px;
}

/* ---- section profile ---- */
section.profile {
  display: flex;
  background-image: url('asa/asa2.jpg');
  height: 275px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  justify-content: center;
}

div.cohort {
  background-color: rgba(78, 66, 65, 0.8);
  width: 172px;
  padding-right: 5px;
  padding-left: 5px;
  padding-top: 40px;
  text-align: center;
}

div.width-box {
  height: 100%;
  display: flex;
}

/* ---- section about ---- */
div.text-about {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

/* ---- section experiments ---- */
div.articles {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

a.return-to-home {
  
}

/* ---- footer ---- */

footer.footer {
  background-color: #937F81;
  margin-top: 30px;
}

footer p {
  padding: 10px 30px;
}

/* ---- get back window ---- */
div.get-back-window {
  display: flex;
  justify-content: center;
  flex-direction: column;
}