/* ---- reset ---- */

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}
/* ---- typography ---- */
body {
  font-family: 'Montserrat', sans-serif;
  padding: 0 10px 0 50px;

}
/* ---- Layout ---- */
#site-main{
    overflow: hidden;

}
.container{
  margin: 0 20px;
}

/* section.introduce{
    float: left;
    width: 60%;
}

section.experiments{
    float: right;
    width: 40%;
} */

@media (min-width: 768px){
  section.introduce{
    float: left;
    width: 50%;
  }

  section.experiments{
    float: right;
    width: 30%;
  }

  .container{
    max-width: 728px;
    margin: 0 auto;
  }
}

.hidden{
  display: none;
}

.primary-button{
 content: 'Esconder contenido';
}

